<style type="text/css">
    .input-box-number{}
#submit {width:"60px";}
</style>
<div>
    <div>
        <div>
            <a href="/admin/">View database</a><span></span><br/>
            <a href="/admin/">Insert more orderitems</a><span></span><br/>
            <div>
                <h1 color="orange">Orders</h1><hr/>
            </div>
            <div style="color:red;">
                {% if errors%}
                    {% for error in errors %}
                        {{error}}<br/>
                    {% endfor %}
                    <hr/>
                {% endif %}
            </div>
            <div>
                <form method="POST">
                    Page :
                    <button id="submit_button" type="submit" name="submit" value="prev">Prev</button>
                    <input style="width:40px; padding:2px;" type="text" maxlength="3" name="page_number" value="{{details.page_number}}" id="">
                    <button id="submit_button" type="submit" name="submit" value="next">Next</button>
                    | View
                    <input style="width:60px; padding:2px;" type="text" maxlength="3" name="records_per_page" value="{{details.records_per_page}}" id="">
                    Records Per Page
                    <button id="submit_button" type="submit" name="submit" value="update_settings">Update</button>
                    | Total <b>{{details.total_items}}</b> records found
                </form>
            </div>
        </div>
    </div>
    <div>
        <table>
            <tbody>
                <tr align="left">
                    <th>Order#</th>
                    <th>Address</th>
                    <th>PaymentInfo</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th align="center">PUPrice</th>
                    <th align="center">TotalPrice</th>
                    <th></th>
                </tr>
                <tr align="left">
                    <form method="POST">
                        <td><input style="width:60px; padding:2px;" type="text" name="order" id="order" {%if details.order%}value="{{details.order}}"{%endif%}/></td>
                        <td><input type="text" maxlength=0/></td>
                        <td><input type="text" maxlength=0/></td>
                        <td><input type="text" value="{{details.search_string}}" name="search_string" id="product"/></td>
                        <td><input style="width:60px;" type="text" maxlength=0/></td>
                        <td><input style="width:90px;" type="text" maxlength=0/></td>
                        <td><input style="width:90px;" type="text" maxlength=0/></td>
                        <td><button id="submit_button" type="submit" name="submit" value="search">Search</button></td>
                    </form>
                    <form method="POST">
                        <td><button id="reset_button" type="submit" name="submit" value="reset">Reset</button></td>
                    </form>
                </tr>
                {% for order in orders %}
                    <tr valign="top">
                        <td style="align:centre">{{order.pk}}</td>
                        <td>
                            {{order.customer.name}}<br/>
                            {{order.customer.address}}<br/>
                            {{order.customer.citystate.city}}, {{order.customer.citystate.state}}<br/>
                            {{order.customer.pincode}}<br/>
                            {{order.customer.email}}<br/>
                            {{order.customer.mobile}}<br/><br/> 
                        </td>
                        <td>
                            Amount: Rs. {{order.amount|floatformat}}/-<br/>
                            Mode: {% if order.payment_method == 'cod'%}Cash on delivery<br/>{% endif %}
                            {% if order.payment_method == 'cc'%}Credit Card<br/>{% endif %}
                            {% if order.payment_method == 'nb'%}Net Banking<br/>{% endif %}
                            status: {% if order.payment_realised %}Payment Realised<br/>
                            {% else %}To Be Realised<br/>
                            {% endif %}
                        </td>
                        <td>
                            {% for oi in order.get_order_items %}
                                {{forloop.counter}}) {{oi.product.name.lower}}</br>
                            {% endfor %}
                        </td>
                        <td align="center">
                            {% for oi in order.get_order_items %}
                                {{oi.quantity}}</br>
                            {% endfor %}
                        </td>
                        <td align="right">
                            {% for oi in order.get_order_items %}
                                {{oi.product.price|floatformat}}</br>
                            {% endfor %}
                        </td>
                        <td align="right">
                            {% for oi in order.get_order_items %}
                                {{oi.total_price|floatformat}}</br>
                            {% endfor %}
                        </td>
                        <td align="center"><a href="admin/order/order/{{order.pk}}/">edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% comment %}
<script type="text/javascript">
$(document).ready(function(){
	$("#back_button").click(function(){
		history.go(-1);
		return true;
	})
});

$('.add_article_vendor_mapping').click(function() {
    var url = $(this).attr('href');
    var width = 800;
    var onSuccess = function(data, textStatus, xhr) {
        $('#apply_action').html(data);
        var dialog = $('#apply_action').dialog({modal:true, title:'', 
            width:width, resizable:false});
    };
    var onError = function(xhr, textStatus, error) {
        $('#apply_action').html(xhr.responseText);
        var dialog = $('#apply_action').dialog({modal:true, title:'', 
            width:width, resizable:false});
    };
    $.ajax({ url: url,
        data : '',
        success : onSuccess,
        error : onError,
        type : 'GET'
    });
    
    return false;
});

$('.edit_vendor_info').click(function() {
    var url = $(this).attr('href');
    var width = 800;
    var onSuccess = function(data, textStatus, xhr) {
        $('#apply_action').html(data);
        var dialog = $('#apply_action').dialog({modal:true, title:'', 
            width:width, resizable:false});
    };
    var onError = function(xhr, textStatus, error) {
        $('#apply_action').html(xhr.responseText);
        var dialog = $('#apply_action').dialog({modal:true, title:'', 
            width:width, resizable:false});
    };
    $.ajax({ url: url,
        data : '',
        success : onSuccess,
        error : onError,
        type : 'GET'
    });
    
    return false;
});

</script>
{% endcomment %} 

