<div>
    <div>
        <div>
            <a href="/admin/">View database</a><span></span><br/>
            <a href="/admin/">Insert more orderitems</a><span></span><br/>
            <div>
                <h1>Orders</h1><hr/>
            </div>
            <div>
                <form name="PageNo" id="PageNo" action="" method="GET">
                    Page :
                    <input width="20px" type="text" placeholder="PageNo" maxlength="3" name="page_number" id="" value="{{page_no}}">
                    Records Per Page:
                    <input width="20px" type="text" placeholder="RecordsPerPage" maxlength="3" name="records_per_page" id="" value="{{records_per_page}}">
                    <button id="submit_button" type="submit" name="submit">Submit</button>            
                </form>
            </div>
        </div>
    </div>
    <div>
        <table>
            <tbody>
                <tr align="left">
                    <form method="POST">
                        {% csrf_token %}
                        <td><input type="text" name="Order" id="Order"/></td>
                        <td><input type="text"/></td>
                        <td><input type="text"/></td>
                        <td><input type="text" name="Product" id="Product"/></td>
                        <td><input type="text"/></td>
                        <td><input type="text"/></td>
                        <td><button id="submit_button" type="submit" name="submit" value="Submit">Submit</button></td>
                        <td><button id="reset_button" type="reset" name="reset" value="Reset">Reset</button></td>
                    </form>
                </tr>
                <tr align="left">
                    <th>Order#</th>
                    <th>Address</th>
                    <th>PaymentInfo</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>PricePerOrderItem</th>
                </tr>
                {% for order in orders %}
                    <tr align="top">
                        <td>{{order.pk}}</td>
                        <td>
                            {{order.customer.name}}<br/>
                            {{order.customer.address}}<br/>
                            {{order.customer.citystate.city}}, {{order.customer.citystate.state}}<br/>
                            {{order.customer.pincode}}<br/>
                            {{order.customer.email}}<br/>
                            {{order.customer.phone}}<br/>
                        </td>
                        <td>
                            Rs. {{order.amount}}<br/>
                            {% if order.payment_method == 'cod'%}via Cash on delivery<br/>{% endif %}
                            {% if order.payment_method == 'cc'%}via Credit Card<br/>{% endif %}
                            {% if order.payment_method == 'nb'%}via Net Banking<br/>{% endif %}
                            {% if order.payment_realised %}Payment Realised<br/>
                            {% else %}Payment Yet To Be Realised<br/>
                            {% endif %}
                        </td>
                        <td>
                            {% for oi in order.get_order_items %}
                                {{oi.product.name}}</br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for oi in order.get_order_items %}
                                {{oi.quantity}}</br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for oi in order.get_order_items %}
                                {{oi.product.price}}</br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% comment %}
<script type="text/javascript">
$(document).ready(function(){
	$("#back_button").click(function(){
		history.go(-1);
		return true;
	})
});

$('.add_article_vendor_mapping').click(function() {
    var url = $(this).attr('href');
    var width = 800;
    var onSuccess = function(data, textStatus, xhr) {
        $('#apply_action').html(data);
        var dialog = $('#apply_action').dialog({modal:true, title:'', 
            width:width, resizable:false});
    };
    var onError = function(xhr, textStatus, error) {
        $('#apply_action').html(xhr.responseText);
        var dialog = $('#apply_action').dialog({modal:true, title:'', 
            width:width, resizable:false});
    };
    $.ajax({ url: url,
        data : '',
        success : onSuccess,
        error : onError,
        type : 'GET'
    });
    
    return false;
});

$('.edit_vendor_info').click(function() {
    var url = $(this).attr('href');
    var width = 800;
    var onSuccess = function(data, textStatus, xhr) {
        $('#apply_action').html(data);
        var dialog = $('#apply_action').dialog({modal:true, title:'', 
            width:width, resizable:false});
    };
    var onError = function(xhr, textStatus, error) {
        $('#apply_action').html(xhr.responseText);
        var dialog = $('#apply_action').dialog({modal:true, title:'', 
            width:width, resizable:false});
    };
    $.ajax({ url: url,
        data : '',
        success : onSuccess,
        error : onError,
        type : 'GET'
    });
    
    return false;
});

</script>
{% endcomment %} 

